.SearchMoviesContainerEmpty{;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000038;
    height: 90vh;
    font-size: 36px;
    color: white;
}
.SearchMoviesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000038;
    font-size: 36px;
    color: white;
}
.SearchForm{
    margin-top: 2vh;
}
.SearchForm input{
    height: 5vh;
    width: 17vw;
    border: #2E8BC0 solid;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    background-color: #000038;
    color: white;
}
.SearchForm input:focus {
    outline: none;
}
.SearchForm button{
    height: 5vh;
    width: 7vw;
    background-color: #2E8BC0;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 0 10px 10px 0;
}
.SearchFormContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.PageChange{
    margin: 2vh 0;
    width: 30vw;
    justify-content: space-around;
    display:flex;
    flex-direction: row;
    font-size: 24px;

}
.PageChange button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 10vw;
    background-color: #2E8BC0;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}
.PageChange button:disabled{
    background-color: #003a60;
}