.MovieContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.MovieListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000038;
}
.MovieCard{
    font-size: 20px;
    background-color: #000000;
    color: white;
    height: 60vh;
    width: 20vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    transition: 500ms;
}
.MovieCard h4{
    margin: 0;
}
.MovieCardRelease{
    font-size: 16px;
}
.MovieCard:hover{
    box-shadow:
            inset 0 -3em 3em rgba(255, 255, 255, 0.1),
            0 0 0 0px rgb(0, 0, 0),
            0.3em 0.3em 1em rgba(255, 255, 255, 0.3);
    transition: 350ms;
    /*color: white;*/
}
.PosterContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Poster{
    width: 90%;
    border-radius: 10px;
}
.PageChange{
    margin: 2vh 0;
    color: white;
    width: 30vw;
    justify-content: space-around;
    display:flex;
    flex-direction: row;
    font-size: 24px;

}
.PageChange button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 5vw;
    background-color: #2E8BC0;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 30px;
}
.PageChange button:disabled{
    background-color: #003a60;
}
/*==================================================*/
.MovieDetailsContainer{
    display: flex;
    background-color: #000038;
    height: 90vh;
}
.MovieDetailsData{
    margin-left: 4vw;
    margin-top:5vh;
    height: 80vh;
    width: 60vw;
    background-color: #000000;
    color: white;
    border-radius: 15px;
}
.MovieDetailsData h2{
    font-size: 52px;
    margin: 5vh 2vw 2vh 2vw;

}
.MovieDetailsData h4{
    font-size: 36px;
    margin: 5vh 2vw 2vh 2vw;
}
.Rating{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000038;

    border-radius: 10px;
    color: white;
    height: 7%;
    width: 40%;
    padding: 0 1vw;
    margin: 2vh 2vw 2vh 2vw;
}

.MovieDetailsOverview{
    font-size: 22px;
    margin: 2vh 2vw 2vh 2vw;
}
.MovieDetailsPoster{
    width: 30vw;
    border-radius: 15px;
}
.MovieDetailsPosterContainer{
    width: 30vw;
    height: 80vh;
    margin-left: 3vw;
    margin-top: 5vh;
}
/*==================================================*/
